absl==0.0
absl_py==1.2.0
allennlp==2.10.1
apex==0.9.10dev
beautifulsoup4==4.12.2
bert4keras==0.11.4
boto3==1.26.113
botocore==1.29.113
chardet==5.1.0
cleanlab==2.3.1
clickhouse_driver==0.2.5
dataframe_image==0.1.10
docx==0.2.4
faiss==1.5.3
gensim==4.3.1
influxdb==5.3.1
jieba==0.42.1
levenshtein==0.20.9
ltp==4.2.13
lxml==4.9.2
matplotlib==3.7.1
nebula3_python==3.4.0
numpy==1.23.2
onnxruntime==1.14.1
onnxruntime_tools==1.7.0
overrides==7.3.1
pandas==1.4.3
paramiko==3.1.0
pdfminer==20191125
Pillow==9.5.0
pkuseg==0.0.25
predict==3.1.16
protobuf==3.19.5
psutil==5.9.4
py2neo==2021.2.3
pycryptodome==3.17
pydantic==1.10.7
PyHive==0.6.5
pymongo==4.2.0
PyMySQL==1.0.3
PySimpleGUI==4.60.4
python_Levenshtein==0.20.9
PyYAML==6.0
rank_bm25==0.2.2
rarfile==4.0
requests==2.28.1
sasl==0.3.1
schedule==1.2.0
scikit_learn==1.2.2
scipy==1.10.1
scispacy==0.5.1
sentence_transformers==2.2.2
simpletransformers==0.63.9
six==1.16.0
smart_open==6.3.0
spacy==3.5.2
SQLAlchemy==1.4.40
stringdist==1.0.9
sympy==1.11.1
tensorboardX==2.6
tensorflow==2.9.1
thrift==0.16.0
thrift-sasl==0.4.3
torch==2.0.0
torchcrf==1.1.0
torchvision==0.15.1
uvicorn==0.21.1
wandb==0.14.2